{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truth and Reconciliation - Make Mailing Easy</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/landing.css' %}">
</head>
<body>
    <div class="background-image"></div>

    <header class="header">
        <div class="logo">Truth and Reconciliation</div>
        <nav>
        </nav>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'water_issues_dashboard:home' %}">VIEW OUR DASHBOARD</a>
                <a href="{% url 'blog-home' %}">SHARE YOUR STORY</a>
            {% else %}
                <a href="{% url 'login' %}">VIEW OUR DASHBOARD</a>
                <a href="{% url 'login' %}">SHARE YOUR STORY</a>
            {% endif %}
        </div>
    </header>

    <main class="hero">
        <div class="hero-content">
            <h1>Tell your Truth</h1>
            <p>Let the world know what is going on in your community.</p>
            {% if user.is_authenticated %}
                <a href="{% url 'blog-home' %}" class="free-signup">
            {% else %}
                <a href="{% url 'login' %}" class="free-signup">
            {% endif %}
                GET STARTED
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
            </a>
        </div>
    </main>
</body>
</html>